<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (!user) { %>
      <h1>
        Welcome to the website! Please <a href="/log-in">log-in</a> or <a href="/sign-up">sign up</a> to send messages
      </h1>
    <% } else { %>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Welcome <%= user.first_name %>!</h1>

        <div style="display: flex; gap: 20px; align-items: center;">
          <a href="/secret">Secret</a>
          <a href="/log-out">Log out</a>
        </div>
      </div>
    <% } %>

    <div style="width: 100%; height: 500px; border: 1px solid black; overflow-y: auto;" id="message_box">
      <% messages.forEach(element => { %>
        <div style="display: flex; justify-content: space-between;">
          <div style="width: 60%; height: auto; border: 1px solid gray;">
            <% if (user) {%>
              <div style="display: flex; justify-content: space-between;">
                <p><%= element.full_name %></p>
                <div style="display: flex; flex-direction: column; align-items: end;">
                  <p><%= element.time_sent %></p>

                  <% if (user.is_admin) { %>
                    <form action="/messages/<%= element.id %>/delete" method="POST">
                      <button>Delete</button>
                    </form>
                  <% } %>
                </div>
              </div>
              
              
            <% } %>
              
              <p><%= element.title %></p>
              <p><%= element.content %></p>
          </div>

          
        </div>
     <% }); %>
    </div>

    <% if (user) {%>
      <form method="POST" action="/messages" style="display: flex; flex-direction: column; margin-top: 20px; gap: 10px; align-items: end;">
        <input name="title" placeholder="Message title" style="width: 100%;"/>
        <textarea name="description" placeholder="Enter your message here" rows="10" style="width: 100%;"></textarea>

        <button type="submit">Send</button>
      </form>
    <% } %>
  </body>
</html>
